*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 24px;
}

p{
    font-size: 18px;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.navbar{
    background-color: #1F2937;
    padding: 0 35px;
}

.navbar h1{
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar a{
    padding: 9px;
    margin: 0 10px;
}

/* END OF HEADER CSS */

.showcase{
    height: 360px;
    background-color: #1F2937;
    padding: 35px;
}

.showcase-text{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: start;
}

.showcase p{
    margin-bottom: 10px;
}

.showcase img{
    width: 580px;
    height: 200px;
}

.grid{
    min-height: 35vh;
    display: flex;
    overflow: visible;
}

.grid-item-1{
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grid-item-2{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background: #3882F6;
    color: white;
    border-radius: 30px;
    border-color: #3882F6;
    transition: transform 0.3s ease;
    border: none;
    height: 30px;
    width: 120px;
}

/* END OF HERO PAGE */

.showcase-2{
    height: 360px;
    background-color: white;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-2 p{
    color: #1F2937;
    text-align: center;
}

.information-header{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 50px;
    text-align: center;
}

.showcase-2 img{
    height: 150px;
    width: 150px;
    padding-bottom: 20px;
    margin-left: 75px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* END OF INFORMATION PAGE */


.showcase-3{
    height: 360px;
    background-color: #E5E7EB;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-message{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-author{
    text-align: right;
    color: #1F2937;
    font-weight: bold;
}

/* END OF QUOTE PAGE */

.showcase-4{
    height: 360px;
    background-color: white;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-2{
    background: #3882F6;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    transition: transform 0.3s ease;
    height: 30px;
    width: 120px;
}

.sign-up{
    background-color: #3882F6;
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
